<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
    </div>
    <h1 class="title">{{pageTitle}}</h1>
    <div class="buttons">
        <!--<button class="button">Right Button</button>-->
    </div>
</ion-header-bar>
<ion-content>

    <div class="card">
        <div class="item item-divider">
            <span ng-show="pageTitle === 'Login'">Login to BarMix</span>
            <span ng-show="pageTitle === 'Sign Up'">Sign up for BarMix</span>
        </div>
        <div class="item item-text-wrap">
            We use Facebook to validate your identity and get your profile picture.
        </div>
            <button class="button button-full button-positive" ng-click="clickConnectWithFacebook()">
                Connect with Facebook
            </button>
    </div>

</ion-content>