<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
    </div>
    <h1 class="title">Let's Meet!</h1>
    <div class="buttons">
        <!--<button class="button">Right Button</button>-->
    </div>
</ion-header-bar>
<ion-content>

    <div class="card" ng-show="person">
        <div class="item item-thumbnail-left">
            <img ng-src="{{person.facebookPicture.url}}" />
            <h2>{{person.facebookUser.first_name}}</h2>
            <p>and you matched!</p>
        </div>

        <div class="item item-text-wrap">
            <p>Do you still want to meet with {{person.facebookUser.first_name}}?</p>
        </div>

        <div class="button-bar">
            <a class="button button-positive" ng-click="clickAccept()" ng-disabled="expiresIn <= 0 || showMeetLocation">Yes, Let's Meet</a>
            <a class="button button-calm" ng-click="clickDecline()">No, Thanks</a>
        </div>

        <div class="item item-text-wrap">
            <p ng-show="expiresIn > 0 && showTimer == true">Act fast! Offer expires in {{expiresIn}} seconds.</p>
            <p ng-show="expiresIn <= 0 && showTimer == true">Sorry, the offer expired!</p>
        </div>

    </div>

    <div class="card" ng-show="noPersons">
        <div class="item item-divider">
            No more people to rate
        </div>

        <div class="item item-text-wrap">
            Congratulations, there are no more people to meet.  You sent 5 invites.  If there is a match, we'll send you a text message.
        </div>

        <button class="button button-full button-positive" ng-click="clickClose()">
            Get Back to Partying!
        </button>
    </div>

    <div class="card" ng-show="showMeetLocation">
        <div class="item item-divider">
            Send Meet Location
        </div>
        
        <label class="item item-input">
            <input type="text" placeholder="Location" ng-model="meetLocation">
        </label>

        <button class="button button-full button-positive" ng-click="clickSendLocation()" ng-disabled="!meetLocation">
            Send
        </button>
    </div>

</ion-content>