<ion-view title="" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
                ng-click="clickSkipIntro()" ng-if="!slideIndex">
            Login
        </button>
        <button class="button button-positive button-clear no-animation"
                ng-click="clickBack()" ng-if="slideIndex > 0">
            Back
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
                ng-click="clickNext()" ng-if="slideIndex != 5">
            Next
        </button>
        <button class="button button-positive button-clear no-animation"
                ng-click="clickStart()" ng-if="slideIndex == 5">
            Start using BarMix
        </button>
    </ion-nav-buttons>

    <ion-slide-box on-slide-changed="slideChanged(index)">
        <ion-slide>
            <h3>Thank you for downloading BarMix!</h3>
            <div id="logo">
                <img src="images/app_icon.png">
            </div>
            <h5>We make it easy to meet new people at the bar.</h5>
        </ion-slide>

        <ion-slide>
            <h3>Find Somebody to Meet</h3>
            <p>We show you one person at a time that's at the same venue.</p>
            <div id="bar" class="padding-top">
                <img src="images/bar_red.png" height="200" width="300">
            </div>
        </ion-slide>

        <ion-slide>
            <h3>Find Somebody to Meet</h3>
            <p>You decide whether you want to meet them.</p>
            <div id="meet" class="padding-top">
                <img src="images/meet_red.png" height="200" width="300">
            </div>
        </ion-slide>

        <ion-slide>
            <h3>Find Somebody to Meet</h3>
            <p>You only see each person one time.</p>
        </ion-slide>

        <ion-slide>
            <h3>Find Somebody to Meet</h3>
            <p>If the other person also chooses you, a match is made.</p>
        </ion-slide>

        <ion-slide>
            <h3>Find Somebody to Meet</h3>
            <p>After a match is made, each person is rated based on how polite & courteous they were.</p>
            <div id="rate" class="padding-top">
                <img src="images/rate_red.png" height="200" width="300">
            </div>
        </ion-slide>

    </ion-slide-box>

</ion-view>
